{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>
    Crops are the lifeblood of the global economy - feeding billions, supporting the livelihood of farmers, and driving international trade. Crops are the foundation of food security and economic stability on a global scale. Therefore, ensuring the health of these resources becomes not only an issue for farmers, but for the world. Plant disease classification is a crucial step in this process and although traditional methods such as manual inspections by experts are effective in small-scale, the labor-intensive, subjective and time-consuming work of large-scale farming spreads farmers thin. In recent years there has been a rise in research in the agricultural sector directed at these problems with Convoluted Neural Networks (CNNs) showing the most promise in automating the prediction of plant diseases.
    CNNs excel at learning complex visual patterns that we as humans may not be able to discern a pattern from and takes raw pixel data as input which eliminated the hassle of manual feature extraction usually associated with machine learning models. Although there are existing pre-trained models such as ResNet50, EfficentNet, and VGG16, we opted on creating a custom CNN for fine control over the metrics. Our model was trained on a data set with nearly 88,000 images of healthy and infected crops which include: Apples, Peaches, Grapes, Corn, Strawberries, Cherries, Potatoes, Bell Peppers, and Tomatoes
</p>

{% endblock %}
