{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Georgia Southern University<br />
    Savannah, Ga<br />
    <abbr title="Phone">P:</abbr>
    912.441.2344
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">rsotocalz912@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">rsotocalz912@gmail.com</a>
    <strong>LinkedIn:</strong>
    <strong>GitHub:</strong>
</address>

{% endblock %}
