{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<form action="/classify" method="post">
    {% for img_path in images %}
    <div style="margin:10px 0;">
        <label>
            <input type="radio" name="selected_image" value="{{ img_path }}">
            <img src="{{ img_path }}" width="150" style="margin-left:10px;">
        </label>
    </div>
    {% endfor %}
    <button type="submit">Classify</button>
</form>
<p>Use this area to provide additional information.</p>

{% endblock %}
